In [1]:
import requests
import pandas as pd

##### Question 1

Use the API to get all available data for the GDP per capita, PPP (constant 2021 international $) indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [2]:
# Set an initial endpoint to see how many items are returned from our query
endpoint_initial='https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json'
response = requests.get(endpoint_initial)
total_rows=response.json()[0]['total']

# Set a final endpoint that inclues a per_page query string to ensure we retrieve all available rows 
endpoint_final=f'{endpoint_initial}&per_page={total_rows}'
response = requests.get(endpoint_final)

gdp_df=pd.json_normalize(response.json()[1])
gdp_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.244214,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3933.580905,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.068816,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17286,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17287,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17288,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17289,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

##### Question 2

Now, use the API to get all available data for Life expectancy at birth, total (years). This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [3]:
# Set an initial endpoint to see how many items are returned from our query
endpoint_initial='https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json'
response = requests.get(endpoint_initial)
total_rows=response.json()[0]['total']

# Set a final endpoint that inclues a per_page query string to ensure we retrieve all available rows 
endpoint_final=f'{endpoint_initial}&per_page={total_rows}'
response = requests.get(endpoint_final)

le_df=pd.json_normalize(response.json()[1])
le_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,55.431000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17286,ZWE,1963,54.942000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17287,ZWE,1962,54.453000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17288,ZWE,1961,53.966000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17289,ZWE,1960,53.492000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

##### Question 3

Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [4]:
gdp_le_df=pd.merge(left = gdp_df[['date','value','country.value','countryiso3code']].rename(columns={'value': 'GDP_Per_Capita', 'date': 'Year', 'country.value': 'Country','countryiso3code':'Country_Code'}), 
                right = le_df[['date','value','country.value','countryiso3code']].rename(columns={'value': 'Life_Expectancy', 'date': 'Year', 'country.value': 'Country','countryiso3code':'Country_Code'}), 
                how = 'inner')

In [5]:
gdp_le_df

,Year,GDP_Per_Capita,Country,Country_Code,Life_Expectancy
0,2024,3968.963751,Africa Eastern and Southern,AFE,NaN
1,2023,3948.142721,Africa Eastern and Southern,AFE,65.146291
2,2022,3974.244214,Africa Eastern and Southern,AFE,64.487020
3,2021,3933.580905,Africa Eastern and Southern,AFE,62.979999
4,2020,3861.068816,Africa Eastern and Southern,AFE,63.766484
...,...,...,...,...,...
17285,1964,NaN,Zimbabwe,ZWE,55.431000
17286,1963,NaN,Zimbabwe,ZWE,54.942000
17287,1962,NaN,Zimbabwe,ZWE,54.453000
17288,1961,NaN,Zimbabwe,ZWE,53.966000
17289,1960,NaN,Zimbabwe,ZWE,53.492000

##### Question 4

You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the Country API. Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [6]:
# Set an initial endpoint to see how many items are returned from our query
endpoint_initial='https://api.worldbank.org/v2/country/all?format=json'
response = requests.get(endpoint_initial)
total_rows=response.json()[0]['total']

endpoint_final=f'{endpoint_initial}&per_page={total_rows}'
response = requests.get(endpoint_final)

country_df=pd.json_normalize(response.json()[1])
country_df

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [7]:
gdp_le_df=pd.merge(left = gdp_le_df, 
                   right = country_df.rename(columns={'id':'Country_Code'}), 
                   how = 'inner')
# Dropping regions
gdp_le_df=gdp_le_df[gdp_le_df['region.value'] != 'Aggregates']
gdp_le_df

,Year,GDP_Per_Capita,Country,Country_Code,Life_Expectancy,iso2Code,name,capitalCity,longitude,latitude,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
2860,2024,NaN,Afghanistan,AFG,NaN,AF,Afghanistan,Kabul,69.1761,34.5228,...,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
2861,2023,1983.812620,Afghanistan,AFG,66.035,AF,Afghanistan,Kabul,69.1761,34.5228,...,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
2862,2022,1981.710168,Afghanistan,AFG,65.617,AF,Afghanistan,Kabul,69.1761,34.5228,...,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
2863,2021,2144.166570,Afghanistan,AFG,60.417,AF,Afghanistan,Kabul,69.1761,34.5228,...,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
2864,2020,2769.685745,Afghanistan,AFG,61.454,AF,Afghanistan,Kabul,69.1761,34.5228,...,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16960,1964,NaN,Zimbabwe,ZWE,55.431,ZW,Zimbabwe,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16961,1963,NaN,Zimbabwe,ZWE,54.942,ZW,Zimbabwe,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16962,1962,NaN,Zimbabwe,ZWE,54.453,ZW,Zimbabwe,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16963,1961,NaN,Zimbabwe,ZWE,53.966,ZW,Zimbabwe,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16964,1960,NaN,Zimbabwe,ZWE,53.492,ZW,Zimbabwe,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend